<template>
    <div
      class="flex items-center justify-around container py-3.5 xl:py-4 px-6 flex-wrap gap-4 bg-white min-w-full mb-10" 
    >
      <LogoV2
      class="order-1 cursor-pointer"
      @click="goHome"
      />
      <ProgressBar class="ml-2 mr-6 order-3 md:order-2 pb-4" :step="step"/>
      <Close
      class="w-6 md:w-44 order-2 lg:order-3 cursor-pointer"
      @click="goHome"
      />
    </div>
</template>

<script>
import LogoV2 from "~/shared/ui/components/Logo/LogoV2.vue";
import ProgressBar from "../accounts/components/StepsBar.vue";
import Close from "vue-material-design-icons/Close.vue";

export default({
  components: {
    LogoV2,
    ProgressBar,
    Close,
  },
  props: {
    step: {
      type: Number,
      default: 1
    }
  },
  methods: {
    goHome() {
      this.$router.push('/')
    }
  }
})
</script>
