<template>
  <div class="intro-x mt-5 sm:mt-6">
    <LoginForm />
  </div>
</template>

<script>
import LoginForm from "./sections/LoginForm.vue";

export default {
  components: {
    LoginForm,
  },
  data() {
    return {
      open: true,
    };
  },
};
</script>
