<template>
  <div class="intro-x mt-5 sm:mt-6">
    <Table/>
  </div>
</template>

<script>
import Table from './sections/Table.vue'
export default {
  components: { Table },
  async mounted() {
    await this.$services.accounts.searchAccount();
  }
}
</script>
