<template>
  <FormModal v-model="showModal">
    <div
      class="
        bg-white
        rounded-xl
        min-h-screen
        w-full
        md:max-w-3xl
        absolute
        top-16
        md:relative md:top-0 md:ml-auto
      "
    >
      <div class="flex justify-between px-8 md:px-12 py-4">
        <TextTitle
          text="Datos del beneficiario"
          font-size="small"
          class="text-kambista-blue"
        />
        <div @click="handleCloseModal">
          <TextParagraph
            class="underline cursor-pointer"
            variant="neutral"
            weight="medium"
            >Volver</TextParagraph
          >
        </div>
      </div>
      <hr />
      <form
        class="md:grid grid-cols-2 px-8 md:px-12 py-4"
        @submit.prevent="handleSubmit"
      >
        <div class="md:mr-4 xl:mr-7">
          <KInput
            v-model="name.value"
            :element-id="name.id"
            :validators="name.validators"
            :helper="name.helper"
            label="Nombres y apellidos del beneficiario"
            placeholder="Escribe nombre de beneficiario"
            size="lg"
            class="mt-5 sm:mt-6"
            @is-valid="isValidInput"
          />
          <KInput
            v-model="number.value"
            :element-id="number.id"
            label="Número de documento"
            placeholder="44881920"
            size="lg"
            class="mt-5 sm:mt-6"
            :validators="number.validators"
            :helper="number.helper"
            @is-valid="isValidInput"
          />
        </div>
        <div class="md:ml-4 xl:ml-7">
          <KSelect
            v-model="document"
            :options="documents"
            label="Tipo de documento"
            placeholder="Selecciona número de documento"
            size="lg"
            class="mt-5 sm:mt-6"
          />
          <KInput
            v-model="email.value"
            :element-id="email.id"
            :validators="email.validators"
            label="Correo electrónico (opcional)"
            placeholder="Escribe tu correo"
            size="lg"
            :helper="email.helper"
            class="mt-5 sm:mt-6"
            @is-valid="isValidInput"
          />
          <KButton
            text="GUARDAR"
            size="lg"
            :disabled="disabled"
            class="w-full mt-8"
          />
        </div>
      </form>
    </div>
  </FormModal>
</template>

<script>
import KInput from "@/shared/ui/components/Input.vue";
import KSelect from "@/shared/ui/components/Select.vue";
import KButton from "@/shared/ui/components/Button/Button.vue";
import TextTitle from "~/shared/ui/components/Typography/TextTitle.vue";
import TextParagraph from "~/shared/ui/components/Typography/TextParagraph.vue";
import { is } from "@/shared/ui/utils/validators";
import FormModal from "../components/FormModal.vue";

const documents = [
  { value: "DNI", name: "DNI" },
  { value: "PASAPORTE", name: "Pasaporte" },
];

export default {
  components: {
    KInput,
    KSelect,
    KButton,
    TextTitle,
    TextParagraph,
    FormModal,
  },
  model: {
    prop: "showModal",
    event: "input",
  },
  props: {
    showModal: {
      type: Boolean,
      default: true,
    },
    accountForm: {
      type: Object,
      default() {
        return {}
      }
    }
  },
  data() {
    return {
      name: {
        value: "",
        isValid: false,
        validators: [is.required("name")],
        helper: "",
        id: "name",
      },
      number: {
        value: "",
        isValid: false,
        validators: [is.required("number"), is.minLength(8)],
        helper: "",
        id: "number",
      },
      document: "",
      email: {
        value: "",
        isValid: false,
        validators: [is.email()],
        helper: "",
        id: "email",
      },
      loading: null,
      documents,
    };
  },
  computed: {
    disabled() {
      return !(this.name.isValid && this.number.isValid);
    },
  },
  mounted() {},
  methods: {
    isValidInput(e) {
      const { validInput, id } = e;
      this[id].isValid = validInput;
    },
    async handleSubmit() {
      this.accountForm.thirdPartyInfo = {
        fullName: this.name.value,
        identityDocumentType: this.document,
        identityDocumentNumber: this.number.value,
        email: this.email.value,
      };
      const data = {
        number: this.accountForm.number,
        alias: this.accountForm.alias,
        transferCodeType: this.accountForm.transferCodeType,
        transferCode: this.accountForm.transferCode,
        currency: this.accountForm.currency,
        type: this.accountForm.type,
        bankAccountType: this.accountForm.bankAccountType,
        bank: this.accountForm.bank,
        country: this.accountForm.country,
        thirdPartyInfo: this.accountForm.thirdPartyInfo
      }
      const response = await this.$services.accounts.createAccount(data);
      if (response.success === true) {
        this.$store.dispatch('setAccounts', this.$services.accounts.getAccounts());
        this.$store.dispatch('setShowModalCreateAccount');
        this.reset();
        this.handleCloseModal();
      }
    },
    handleCloseModal(){
      this.$emit("input", false);
    },
    reset(){
      this.name.value = ""
      this.document = ""
      this.number.value = ""
      this.email.value = ""
    }
  },
};
</script>
