<template>
  <FormModal v-model="showAccountForm">
    <div class="w-full">
      <div
        class="
          bg-white
          rounded-xl
          min-h-screen
          w-full
          md:max-w-3xl
          absolute
          top-16
          md:relative md:top-0 md:ml-auto
        "
      >
        <div class="flex justify-between px-8 md:px-12 py-4 items-center">
          <KTextSubtitle> Cuenta nueva </KTextSubtitle>
          <div class="cursor-pointer" @click="handleCloseModal">
            <KTextSubtitle>&times;</KTextSubtitle>
          </div>
        </div>
        <hr />
        <form
          ref="newAccountForm"
          class="grid grid-cols-1 sm:grid-cols-2 gap-5 px-8 md:px-12 pt-4"
          @submit.prevent="handleSubmit"
        >
          <div>
            <label for="type" class="mb-2 block text-gray-600">
              Destinatario
            </label>
            <div class="flex gap-20 m-">
              <div class="flex gap-2">
                <KRadio v-model="type" value="OWN" name="type" />
                <label for="type" class="mb-2 block text-gray-600 font-light"
                  >Soy yo</label
                >
              </div>
              <div class="flex gap-2">
                <KRadio v-model="type" value="THIRD_PARTY" name="type" />
                <label for="type" class="mb-2 block text-gray-600 font-light"
                  >Terceros</label
                >
              </div>
            </div>
            <KSelect
              v-model="accountType"
              :options="accounts"
              label="Tipo de cuenta"
              placeholder="Escribe o Selecciona"
              class="mt-9"
            />
            <label for="transferCode" class="mt-5 mb-2 block text-gray-600">
              Código
            </label>
            <div class="flex gap-2">
              <div class="w-full" @click="changeCodeType">
                <KButton
                  type="button"
                  text="SWIFT"
                  class="w-full"
                  :variant="transferCodeType === 'SWIFT' ? 'secondary' : ''"
                />
              </div>
              <div class="w-full" @click="changeCodeType">
                <KButton
                  type="button"
                  text="IBAN"
                  class="w-full"
                  :variant="transferCodeType === 'IBAN' ? 'secondary' : ''"
                />
              </div>
            </div>
            <KInput
              v-model="accountNumber.value"
              :element-id="accountNumber.id"
              :validators="accountNumber.validators"
              label="Escribe tu cuenta"
              placeholder="Escribe"
              size="lg"
              :helper="accountNumber.helper"
              class="mt-5"
              @is-valid="isValidInput"
            />
            <KInput
              v-model="alias.value"
              :element-id="alias.id"
              :validators="alias.validators"
              type="alias"
              label="Alias"
              placeholder="Escribe un alias para esta cuenta"
              size="lg"
              :helper="alias.helper"
              class="mt-5"
              @is-valid="isValidInput"
            />
          </div>
          <div class="pb-20 md:pb-0">
            <KSelect
              v-model="currency"
              :options="currencies"
              label="Moneda"
              placeholder="Escribe una moneda para esta cuenta"
              disabled
            />
            <KSelect
              v-model="bank"
              :options="banks"
              label="Banco"
              placeholder="Escribe o Selecciona"
              class="mt-4"
              custom
            >
              <template #currentOption="actual">
                <div class="flex items-center font-medium">
                  <img :src="actual.option.image" class="flex w-7 mx-2" />
                  <TextParagraph :text="actual.option.name" />
                </div>
              </template>
              <template #option="opcion">
                <div class="flex items-start">
                  <img :src="opcion.option.image" class="flex w-7 mx-2" />
                  <TextParagraph :text="opcion.option.name" />
                </div>
              </template>
            </KSelect>
            <KInput
              v-model="transferCode.value"
              :element-id="transferCode.id"
              :validators="transferCode.validators"
              type="transferCode"
              label="Escribe código SWITF o IBAN"
              placeholder="Escribe código"
              size="lg"
              class="mt-5"
              :helper="transferCode.helper"
              @is-valid="isValidInput"
            />
            <KSelect
              v-model="country"
              :options="countries"
              label="País"
              placeholder="Escribe o Selecciona"
              class="mt-5"
            />
            <KButton
              :text="type === 'OWN' ? 'GUARDAR' : 'CONTINUAR'"
              :disabled="disabled"
              :loading="loading"
              class="mt-10"
              block
            />
          </div>
        </form>
      </div>
    </div>
    <BeneficiaryForm v-model="showBeneficiaryForm" :account-form="formData"/>
  </FormModal>
</template>

<script>
import KTextSubtitle from "@/shared/ui/components/Typography/TextSubtitle.vue";
import TextParagraph from "~/shared/ui/components/Typography/TextParagraph.vue";
import KInput from "@/shared/ui/components/Input.vue";
import KButton from "@/shared/ui/components/Button/Button.vue";
import KRadio from "@/shared/ui/components/Radio.vue";
import KSelect from "@/shared/ui/components/Select.vue";
import { is } from "@/shared/ui/utils/validators";
import FormModal from "../components/FormModal.vue";
import BeneficiaryForm from "./BeneficiaryForm.vue";

const currencies = [
  { value:"EUR", name: "Euros" }
]

export default {
  components: {
    TextParagraph,
    KTextSubtitle,
    KInput,
    KButton,
    KRadio,
    KSelect,
    FormModal,
    BeneficiaryForm
  },
  data() {
    return {
      accountNumber: {
        value: "",
        isValid: false,
        validators: [is.required("Número de cuenta"), is.number()],
        helper: "",
        id: "accountNumber",
      },
      alias: {
        value: "",
        isValid: false,
        validators: [is.required("Alias")],
        helper: "",
        id: "alias",
      },
      transferCodeType: "SWIFT",
      transferCode: {
        value: "",
        isValid: false,
        validators: [is.required("Código de cuenta SWIFT o IBAN")],
        helper: "",
        id: "transferCode",
      },
      currency: "EUR",
      loading: null,
      type: "OWN",
      accountType: "",
      bank: "",
      country: "",
      accounts: [],
      banks: [],
      countries: [],
      currencies,
      showBeneficiaryForm: false,
      formData: {},
    };
  },
  computed: {
    disabled() {
      return !(
        this.accountNumber.isValid &&
        this.alias.isValid &&
        this.transferCode.isValid
      );
    },
    showAccountForm(){
      return this.$store.state.showCreateAccountForm;
    }
  },
  async mounted() {
    const res = await this.$services.utils.findUtils();
    this.countries = res.data.destinationCountries.map((country) => {
      return {
        value: country.id,
        ...country,
      };
    });
    this.accounts = res.data.bankAccountType.map((account) => {
      return {
        value: account.id.toLowerCase(),
        ...account,
      };
    });
    this.banks = res.data.destinationBanks.map((bank) => {
      return {
        value: bank.id,
        ...bank,
      };
    });
  },
  methods: {
    isValidInput(e) {
      const { validInput, id } = e;
      this[id].isValid = validInput;
    },
    async handleSubmit() {
      const data = {
        number: this.accountNumber.value,
        alias: this.alias.value,
        transferCodeType: this.transferCodeType,
        transferCode: this.transferCode.value,
        currency: this.currency,
        type: this.type,
        bankAccountType: this.accountType,
        bank: this.bank,
        country: this.country,
      }
      if (this.type === 'OWN') {
        const response = await this.$services.accounts.createAccount(data);
        if (response.success === true) {
          this.$store.dispatch('setAccounts', this.$services.accounts.getAccounts());
          this.reset();
          this.handleCloseModal();
        }
      } else {
        this.formData = data;
        this.showBeneficiaryForm = true;
      }
    },
    changeCodeType(event) {
      this.transferCodeType = event.target.innerText;
    },
    handleCloseModal() {
      this.$store.dispatch('setShowModalCreateAccount')
    },
    reset(){
      this.accountNumber.value = ""
      this.alias.value = ""
      this.transferCodeType = "SWIFT"
      this.transferCode.value = ""
      this.currency = "EUR"
      this.type = "OWN"
      this.accountType = ""
      this.bank = ""
      this.country = ""
    }
  },
};
</script>
