<template>
  <KBaseCard>
    <div
      class="flex px-8 py-4 sm:justify-between justify-center flex-wrap gap-4"
    >
      <KSelect v-model="option" :options="options" class="w-min" />
      <div @click="handleShowCreateAccountForm">
        <KButton text="+ AGREGAR CUENTA" variant="secondary" />
      </div>
    </div>
    <div class="block overflow-x-auto">
      <table class="bg-kambista-8 min-w-full">
        <TableHeaderRow :headers="headerTransfers" />
        <tbody
          v-if="accounts.length > 0"
          class="
            font-medium
            text-xs text-kambista-body
            leading-4
            tracking-tight
          "
        >
          <TableBodyRow
            v-for="account in accounts"
            :key="account.id"
            :account="account"
            :deleteaccount="deleteAccount"
            :editaccount="editaccount"
          />
        </tbody>
      </table>
      <div
        v-if="accounts.length === 0"
        class="text-black h-16 flex items-center justify-center"
      >
        Todavia no has agregado ninguna cuenta
      </div>
    </div>
    <Modal
      v-model="showDeleteModal"
      message-alignment
      class="p-5"
      closeable
      closeable-by-backdrop
    >
      <div class="flex flex-col items-center">
        <InformationOutline :size="42" />
        <TextParagraph class="my-10" font-size="base"
          >¿Deseas eliminar esta cuenta?</TextParagraph
        >
        <div @click="deleteConfirmation">
          <KButton text="CONFIRMAR" variant="secondary" />
        </div>
        <div @click="closeModal">
          <TextParagraph
            font-size="small"
            variant="neutral"
            class="underline mt-2 cursor-pointer"
            >Cancelar</TextParagraph
          >
        </div>
      </div>
    </Modal>
    <CreateAccountForm />
    <EditAccountForm :account="currentAccount"/>
  </KBaseCard>
</template>
<script>
import KSelect from "@/shared/ui/components/Select.vue";
import KButton from "@/shared/ui/components/Button/Button.vue";
import KBaseCard from "@/shared/ui/components/Cards/BaseCard.vue";
import TableHeaderRow from "../components/TableHeaderRow.vue";
import TableBodyRow from "../components/TableBodyRow.vue";
import Modal from "~/shared/ui/components/Modal/Modal.vue";
import InformationOutline from "vue-material-design-icons/InformationOutline.vue";
import TextParagraph from "@/shared/ui/components/Typography/TextParagraph.vue";
import CreateAccountForm from "./CreateAccountForm.vue";
import EditAccountForm from "./EditAccountForm.vue"

const options = [{ value: "transfers", name: "Transferencia al extranjero" }];

export default {
  components: {
    KBaseCard,
    KSelect,
    KButton,
    TableHeaderRow,
    TableBodyRow,
    Modal,
    InformationOutline,
    TextParagraph,
    CreateAccountForm,
    EditAccountForm,
  },
  data() {
    return {
      contentTable: false,
      option: "transfers",
      options,
      headerTransfers: ["Beneficiario", "Banco", "Cuenta", "Moneda", "Alias"],
      showDeleteModal: false,
      currentAccountId: "",
      currentAccount: {},
    };
  },
  computed: {
    accounts() {
      return this.$store.state.accounts;
    },
  },
  mounted() {
    const res = this.$services.accounts.getAccounts();
    this.$store.dispatch("setAccounts", res);
  },
  methods: {
    async deleteConfirmation() {
      await this.$services.accounts.deleteAccount(this.currentAccountId);
      this.$store.dispatch(
        "setAccounts",
        this.$services.accounts.getAccounts()
      );
      this.showDeleteModal = false;
    },
    deleteAccount(id) {
      this.currentAccountId = id;
      this.showDeleteModal = true;
    },
    closeModal() {
      this.showDeleteModal = false;
    },
    handleShowCreateAccountForm() {
      this.$store.dispatch("setShowModalCreateAccount");
    },
    editaccount(account) {
      console.log(account);
      this.currentAccount = account
      this.$store.dispatch("setShowModalEditAccount");
      console.log(this.currentAccount);
    },
  },
};
</script>