<template>
  <div class="flex flex-noe"> 
    <img src="~/assets/images/logo.png" class="k-logo block" />
  </div>
</template>

<script>
export default {

}
</script>
<style lang="scss" scoped>
.k-logo {
  height: 70px;
  @media screen and (max-width:768px) {
    height: 57px;
  }
}
</style>