<template>
  <div>
    <form ref="customerForm" @submit.prevent="handleSubmit">
      <KInput
        v-model="email.value"
        :element-id="email.id"
        :validators="email.validators"
        label="Correo"
        placeholder="Escribe tu correo"
        size="lg"
        :helper="email.helper"
        class="mt-8"
        @is-valid="isValidInput"
      />
      <KInput
        v-model="password.value"
        :element-id="password.id"
        :validators="password.validators"
        type="password"
        label="Contraseña"
        placeholder="Escribe tu contraseña"
        size="lg"
        class="mt-8 sm:mt-6"
        :helper="password.helper"
        @is-valid="isValidInput"
      />
      <!-- <RecoveryPasswordTitle/> -->
      <KButton
        text="Iniciar Sesión"
        size="lg"
        class="w-full mt-12"
        :disabled="disabled"
        :loading="loading"
      />
    </form>
    <Modal
      v-model="showModal"
      title="Error al iniciar sesión"
      :message="errorMessage"
      message-alignment="center"
      closeable
      closeable-by-backdrop
    />
  </div>
</template>

<script>
import Modal from "~/shared/ui/components/Modal/Modal.vue";
import KInput from "@/shared/ui/components/Input.vue";
import KButton from "@/shared/ui/components/Button/Button.vue";
import { is } from "@/shared/ui/utils/validators";
// import RecoveryPasswordTitle from '../components/RecoveryPasswordTitle.vue';

export default {
  components: {
    Modal,
    KInput,
    KButton,
    // RecoveryPasswordTitle
  },
  data() {
    return {
      email: {
        value: "user1@kambista.com",
        isValid: false,
        validators: [is.required("correo"), is.email()],
        helper: "",
        id: "email",
      },
      password: {
        value: "111111",
        isValid: false,
        validators: [is.required("contraseña"), is.minLength(6)],
        helper: "",
        id: "password",
      },
      loading: null,
      showModal: false,
      errorMessage: "",
    };
  },
  computed: {
    disabled() {
      return !(this.email.isValid && this.password.isValid);
    },
  },
  mounted() {},
  methods: {
    isValidInput(e) {
      const { validInput, id } = e;
      this[id].isValid = validInput;
    },
    async handleSubmit() {
      const user = {
        email: this.email.value,
        password: this.password.value,
      };
      const response = await this.$services.customer.login(user);
      if (response.data.success) return this.$router.push("/");
      this.errorMessage =
        response.data.error.message === "Credenciales no válidas"
          ? "La contraseña que ingresaste es incorrecta"
          : response.data.error.message;
      this.showModal = true;
    },
  },
};
</script>
