<template>
  <div class="px-3 md:px-16 max-w-sm sm:max-w-xl mx-auto items-center pb-1 intro-y">
    <CalculatorExchange/>
  </div>
</template>

<script>
import CalculatorExchange from './sections/CalculatorExchange.vue';

export default {
  components: {
    CalculatorExchange 
  },

}
</script>
