<template>
  <table
    class="
          bg-white
          px-2
          shadow-xl
          rounded-xl
          divide-y
          divide-gray-light-80
          grid grid-cols-1
          text-xs
          pt-3 
          pb-2
          ml-4
          mr-6"
  >
    <tr
      class="grid
              grid-cols-2
              gap-1
              pb-2
              pl-4"
    >
      <td>Envías</td>
      <td 
        class="text-right pr-4 font-bold">
           {{ transaction.amountSentTotal }} {{ transaction.originCurrency }}
      </td>
      <td>Comisión</td>
      <td 
        class="text-right pr-4 font-bold">
        {{ (transaction.feeTotal) }} {{ transaction.originCurrency }}
      </td>
    </tr>
    <tr
      class="grid
          grid-cols-2
          gap-1
          pt-2
          pb-2
          pl-4"
    >
      <td> Costo total</td>
      <td 
      class="text-right pr-4 font-bold">
        {{ totalCost }} {{ transaction.originCurrency }}
      </td>
      <td>Recibe</td>
      <td 
        class="text-right pr-4 font-bold">
        {{ transaction.amountReceive }} EUR
      </td>
    </tr>
    <tr
      class="grid
          grid-cols-2
          gap-1
          pt-2
          pl-4"
    >
      <td />
      <td class="text-right pr-4 font-bold">
        1 EUR = {{ transaction.valueCoinSelected }} {{ transaction.originCurrency }}
      </td>
    </tr>
    
  </table>
</template>

<script>
import { mapState } from 'vuex';

export default ({
  computed: {
    ...mapState(['transaction']),
    totalCost() {
      const cost = (Number(this.transaction.amountSentTotal) + Number(this.transaction.feeTotal)).toFixed(2);
      return isNaN(cost)? 0 : cost;
    }
  },
})
</script>
