<template>
  <div
    class="
      container
      mx-auto
      bg-gray-light
      w-full
      place-content-evenly
      flex flex-col
      intro-y
    "
  >
    <header class="text-center">
      <TextTitle text="Completa los datos de tu operación" />
    </header>
    <br />
    <section class="max-w-md max auto grid grid-cols-1 place-self-center">
      <Exchange />
      <Wire />
    </section>
  </div>
</template>
<script>
import Exchange from "~/modules/transaction/components/Exchange.vue";
import Wire from "~/modules/transaction/components/Wire.vue";
import TextTitle from "~/shared/ui/components/Typography/TextTitle.vue";
export default {
  components: {
    Exchange,
    Wire,
    TextTitle,
  },
};
</script>