<template>
  <section class="flex flex-col items-center">
    <BaseCard
      border="true"
      class="
        max-w-xs
        md:max-w-3xl
        px-7
        md:px-16
        pt-11
        pb-16
        shadow-lg
        md:shadow-none
        mb-12
      "
    >
      <div class="text-center">
        <TextTitle
          weight="bold"
          font-size="base"
          class="leading-6 pb-8 md:pb-2.5"
        >
          Transfiere y envía constancia
        </TextTitle>
        <TextParagraph font-size="base" class="text-left md:text-center">
          Transfiere desde tu banco y envía constancia de tu operación
        </TextParagraph>
        <!-- Monto y Número de cuenta -->
        <div class="pt-8">
          <span class="flex flex-col md:flex-row md:justify-between pb-5">
            <p
              class="
                text-sm
                md:text-base
                font-medium
                md:font-bold
                text-left
                md:text-center
              "
            >
              Monto a transferir
            </p>
            <p class="flex font-bold md:font-normal justify-center">
              4360.30 PEN
              <Clipboard class="cursor-pointer ml-5" />
            </p>
          </span>
          <span class="flex flex-col md:flex-row md:justify-between pb-5">
            <p
              class="
                text-sm
                md:text-base
                font-medium
                md:font-bold
                text-left
                md:text-center
              "
            >
              Número de cuenta Interbank
            </p>
            <p class="flex font-bold md:font-normal justify-center">
              2003001399567
              <Clipboard class="cursor-pointer ml-5" />
            </p>
          </span>
          <span class="flex flex-col md:flex-row md:justify-between pb-5">
            <p
              class="
                text-sm
                md:text-base
                font-medium
                md:font-bold
                text-left
                md:text-center
              "
            >
              RUC Kambista
            </p>
            <p class="flex font-bold md:font-normal justify-center">
              20601708141
              <Clipboard class="cursor-pointer ml-5" />
            </p>
          </span>
        </div>
        <hr class="border-grey-400 border-t pb-7" />
        <!-- Parte inferior-->
        <div class="flex flex-col items-center">
          <h1
            weight="bold"
            class="
              text-base
              md:text-xl
              text-left
              md:text-center
              leading-6
              pb-2.5
            "
          >
            Envía constancia
          </h1>
          <TextParagraph font-size="base" class="pb-4 text-left md:text-center">
            Selecciona una forma de envío de la constancia de tu transferencia
          </TextParagraph>
          <!-- Radio buttons -->
          <div class="w-full">
            <div class="flex items-center justify-between py-5 px-2 border-gray-50 rounded mb-2">
            <Radio v-model="letter"  type="radio" value="sendImage" name="letter" size="sm"/>
            <TextParagraph font-size="small">
                Enviar una imagen del voucher
            </TextParagraph>
            </div>

            <div class="flex items-center justify-between py-5 px-2">
            <Radio v-model="letter" type="radio" value="sendEmail" name="letter" size="sm"/>
            <TextParagraph font-size="small">
            Enviar comprobante por correo
              <span class="font-semibold border-b border-black">
                operaciones@kambista.com
              </span>
            </TextParagraph>
            </div>
          </div>

        </div>
      </div>
    </BaseCard>
    <Button text="ENVIAR CONSTANCIA" size="lg" class="w-80 md:w-96" disabled />
  </section>
</template>

<script>
import BaseCard from "~/shared/ui/components/Cards/BaseCard.vue";
import Clipboard from "~/shared/ui/components/Clipboard.vue";
import Button from "~/shared/ui/components/Button/Button.vue";
import TextTitle from "~/shared/ui/components/Typography/TextTitle.vue";
import TextParagraph from "~/shared/ui/components/Typography/TextParagraph.vue";
import Radio from "~/shared/ui/components/Radio.vue";

export default {
  components: {
    BaseCard,
    Clipboard,
    Button,
    TextTitle,
    TextParagraph,
    Radio,
  },
  data() {
    return {
      codeTransaction: "",
    };
  },
};
</script>

