<template>
  <small class="ml-2 mr-4 mt-5 mb-3 hidden md:block">
    <Highlight
      class="flex flex-wrap min-w-full max-w-xs items-center h-10 pt-2"
    >
      Tiempo estimado de espera: 48 horas
    </Highlight>
  </small>
</template>
<script>
import Highlight from "~/shared/ui/components/Highlight.vue";
export default {
  components: {
    Highlight,
  },
};
</script>