<template>
  <Modal v-model="open" message-alignment class="p-5">
    <div class="flex flex-col items-center">
      <CheckboxMarkedCircleOutline :size="42"/>
      <TextParagraph class="my-10" font-size="base">¡Código enviado con éxito!</TextParagraph>
      <Button text="IR AL HISTORIAL DE OPERACIONES" block variant="dark" class="text-white bg-black"/>
    </div>
  </Modal>
</template>

<script>
import Modal from  '~/shared/ui/components/Modal/Modal.vue';
import CheckboxMarkedCircleOutline from 'vue-material-design-icons/CheckboxMarkedCircleOutline.vue';
import TextParagraph from  '~/shared/ui/components/Typography/TextParagraph.vue';
import Button from '~/shared/ui/components/Button/Button.vue';

export default {
    components: {Modal, CheckboxMarkedCircleOutline, TextParagraph, Button},
    data() {
      return {
          open: true,
      };
    }
}
</script>
