<template>
  <section class="flex flex-col items-center mb-5">
    <BaseCard
      class="
        max-w-xs
        md:max-w-3xl
        px-7
        md:px-16
        pt-11
        pb-16
        shadow-lg
        md:shadow-none
        m-12
        mb-8
      "
    >
      <div class="text-center">
        <TextTitle
          weight="bold"
          font-size="base"
          class="leading-6 pb-8 md:pb-2.5"
        >
          Transfiere e identifica tu operación
        </TextTitle>
        <TextParagraph font-size="base" class="text-left md:text-center">
          Transfiere desde tu banco y copia el
          <span class=" font-semibold"
            >número de operación.</span
          >
        </TextParagraph>
        <!-- Monto y Número de cuenta -->
        <div class="pt-8">
          <span class="flex flex-col md:flex-row md:justify-between pb-5">
            <p
              class="
                text-sm
                md:text-base
                font-medium
                md:font-bold
                text-left
                md:text-center
              "
            >
              Monto a transferir
            </p>
            <p class="flex font-bold md:font-normal justify-center">
              {{ totalCost }} {{ transaction.originCurrency }}
              <Clipboard class="cursor-pointer ml-5" :value="totalCost"/>
            </p>
          </span>
          <span class="flex flex-col md:flex-row md:justify-between pb-5">
            <p
              class="
                text-sm
                md:text-base
                font-medium
                md:font-bold
                text-left
                md:text-center
              "
            >
              Número de cuenta Interbank
            </p>
            <p class="flex font-bold md:font-normal justify-center">
              {{ transaction.account.number }}
              <Clipboard class="cursor-pointer ml-5" :value="transaction.account.number"/>
            </p>
          </span>
        </div>
        <hr class="border-grey-400 border-t pb-7" />
        <!-- Parte inferior-->
        <div class="flex flex-col items-center">
          <h1
            weight="bold"
            class="
              text-base
              md:text-xl
              text-left
              md:text-center
              leading-6
              pb-2.5
            "
          >
            Identifica tu operación
          </h1>
          <TextParagraph font-size="base" class="pb-4 text-left md:text-center">
            Escribe el código de operación del banco aquí
          </TextParagraph>
          <Input
            v-model="voucher.value"
            :element-id="voucher.id"
            :validators="voucher.validators"
            placeholder="Escribe tu código de operación"
            size="lg"
            :helper="voucher.helper"
            class="shadow-md rounded-full md:rounded-lg w-64 md:w-9/12"
            @is-valid="isValidInput"
          />
          <p
            class="flex items-start md:items-center pt-2.5 justify-center text-sm font-medium"
            @click="showModalImage = true"
          >
            <HelpCircleOutline :size="16" />
            ¿Dónde encuentro el código de operación?
          </p>
        </div>
      </div>
    </BaseCard>
    <div
    @click="handleClick">
    <Button
    text="ENVIAR CONSTANCIA"
    size="lg"
    class="w-80 md:w-96 mb-4"
    :disabled="disabled"
    :loading= "loadingBtn"
    />
    </div>
    <Modal v-model="showModal" message-alignment class="p-10">
    <div class="flex flex-col items-center px-6">
      <CheckboxMarkedCircleOutline :size="42"/>
      <TextParagraph
        class="my-10"
        font-size="base"
        >¡Código enviado con éxito!
      </TextParagraph>
      <div
      class="w-full"
      @click="closeModal">
        <Button
          text="OK"
          block
          variant="dark"
          class="text-white bg-kambista-blue"
        />
      </div>
    </div>
   </Modal>
    <Modal
    v-model="showModalImage"
    closeable-by-backdrop
    message-alignment
    >
    <img
    src="~/assets/images/badges/constancia.png"
    alt="constancia-kambista"
    >
   </Modal>
  </section>
</template>

<script>
import BaseCard from "~/shared/ui/components/Cards/BaseCard.vue";
import Input from "~/shared/ui/components/Input.vue";
import Clipboard from "~/shared/ui/components/Clipboard.vue";
import Button from "~/shared/ui/components/Button/Button.vue";
import TextTitle from "~/shared/ui/components/Typography/TextTitle.vue";
import TextParagraph from "~/shared/ui/components/Typography/TextParagraph.vue";
import HelpCircleOutline from "vue-material-design-icons/HelpCircleOutline.vue";
import Modal from "~/shared/ui/components/Modal/Modal.vue";
import CheckboxMarkedCircleOutline from "vue-material-design-icons/CheckboxMarkedCircleOutline.vue";
import { is } from "@/shared/ui/utils/validators";
import { mapState } from "vuex";

export default {
  components: {
    BaseCard,
    Input,
    Clipboard,
    Button,
    TextTitle,
    TextParagraph,
    HelpCircleOutline,
    Modal,
    CheckboxMarkedCircleOutline,
  },
  data() {
    return {
      voucher: {
        value: "",
        isValid: false,
        validators: [is.required("Número de cuenta")],
        helper: "",
        id: "voucher",
      },
      showModal: false,
      showModalImage: false,
      loadingBtn: null,
    };
  },
  computed: {
    ...mapState(["transaction"]),
    totalCost() {
      const cost = (
        Number(this.transaction.amountSentTotal) +
        Number(this.transaction.feeTotal)
      ).toFixed(2);
      return isNaN(cost) ? 0 : cost;
    },
    disabled() {
      return !this.voucher.isValid;
    },
  },
  methods: {
    isValidInput(e) {
      const { validInput, id } = e;
      this[id].isValid = validInput;
    },
    closeModal() {
      this.showModal = false;
      this.$router.push("/");
    },
    async handleClick() {
      try {
        this.loadingBtn = "Cargando..."

        const data = {
          originCurrency: this.transaction.originCurrency,
          destinationCurrency: this.transaction.destinationCurrency,
          amountSent: this.transaction.amountSentTotal,
          bankId: this.transaction.bankId,
          account: this.transaction.account,
          sourceOfFunds: this.transaction.sourceOfFounds
        }
        const checkData = {
          voucher: this.voucher,
        }
        const createTransaction = await this.$services.transaction.createTransaction(data);
        const checkTransaction = await this.$services.transaction.checkTransaction(createTransaction.data.data.id, checkData);
        if (checkTransaction.data.success) {
          this.showModal = true;
        }
      }catch(error) {
        this.loadingBtn = null;
        console.log(error);
      }
      finally {
        this.loading = false;
      }

    }
  }
};
</script>
