<template>
<!-- seccion de botones -->
<div class="flex flex-col justify-center items-center">
    <div class="flex max-w-xs md:max-w-md mb-8 justify-center">
        <TextTitle font-size="base" class="mb-12">Historial de operaciones</TextTitle>
        <Button text="En proceso" variant="none" shadow="false" class="w-28 h-11 bg-gray-200 text-gray-500 rounded-full mr-4 text-xs"/>
        <Button text="Finalizados" variant="none" shadow="false" class="w-28 h-11 bg-gray-200 text-gray-500 rounded-full mr-4 text-xs"/>
        <Button text="Todo" variant="none" shadow="false" class="w-28 h-11 bg-gray-200 text-gray-500 rounded-full text-xs"/>
    </div>
    <BaseCard class="w-80 p-5 md:w-96">
        <div class="flex flex-row justify-between mb-2">
            <BaseText weight="bold">N° de operación:</BaseText>
            <BaseText weight="bold">kmf123ad6</BaseText>
        </div>
        <hr class="mb-2">
        <div class="flex flex-row justify-between mb-2">
            <BaseText weight="medium">Leo Leonidas recibirá</BaseText>
            <BaseText weight="medium">1000 EUR</BaseText>
        </div>
        <div class="flex flex-row justify-between mb-2">
            <BaseText  weight="medium">Costo Total</BaseText>
            <BaseText  weight="medium">4360.61 PEN</BaseText>
        </div>
        <div class="flex flex-row justify-between mb-2">
            <BaseText  weight="medium">Cambio</BaseText>
            <BaseText  weight="medium">1 EUR = 4.333 PEN</BaseText>
        </div>
        <hr class="mb-2">
        <div class="flex flex-row justify-between items-center">
            <BaseText  weight="bold">fecha</BaseText>
            <Button text="VER PROCESO" class="text-xs rounded-lg"/>
        </div>
    </BaseCard>
  </div>
</template>

<script>
import BaseCard from '~/shared/ui/components/Cards/BaseCard.vue';
import BaseText from '~/shared/ui/components/Typography/BaseText.vue';
import Button from '~/shared/ui/components/Button/Button.vue';
import TextTitle from '~/shared/ui/components/Typography/TextTitle.vue';

export default {
    components: {BaseCard, BaseText, Button, TextTitle},

}
</script>
