<template>
  <div class="w-max leading-7 mx-auto my-auto intro-y">
    <BaseCard class="px:2 md:px-5 pt-5 md:p-10">
      <TextTitle text="Revisa tu operación antes de terminar" font-size="small" class="text-kambista-blue"/>
      <table class="mb-5 text-left text-gray-600 w-full">
        <thead>
          <tr> 
            <th colspan="2"> Detalles de tu transferencia </th> 
          </tr>
        </thead>
        <tbody>
          <tr> 
            <th class="w-48"> Total a transferir </th>
            <td> {{ totalCost }} {{ transaction.originCurrency }} </td>
          </tr>
          <tr> 
            <th class="w-48"> Comisión </th>
            <td> {{ (transaction.feeTotal) }} {{ transaction.originCurrency }} </td>
          </tr>
          <tr> 
            <th class="w-48"> Cambio asegurado </th>
            <td> 1 EUR = {{ transaction.valueCoinSelected }} {{ transaction.originCurrency }} </td>
          </tr>
          <tr> 
            <th class="w-48"> Leo recibirá </th>
            <td> {{ transaction.amountReceive }} EUR </td>
          </tr>
        </tbody>
      </table>
    <hr>
      <table class="mt-5 text-left text-gray-600  w-full">
        <thead>
          <tr> 
            <th colspan="2"> Datos del destinatario </th> 
          </tr>
        </thead>
        <tbody>
          <tr> 
            <td> {{ nameUser }}  </td>
          </tr>
          <tr> 
            <th class="w-48"> Cuenta </th>
            <td> {{ transaction.account.number }} </td>
          </tr>
          <tr> 
            <th class="w-48"> Código bancario SWIFT </th>
            <td> {{ transaction.account.transferCode }} </td>
          </tr>
        </tbody>
      </table>
    </BaseCard>
    <div  @click="handleClick">
      <KButton
      text="CONTINUAR"
      size="lg"
      class="w-full mt-8"
    />
    </div>

    <div class="mt-4 text-center">
      <nuxt-link
        :to="{ path: '/completa' }"
        class="text-gray-600  underline"
      >
        Volver y editar
      </nuxt-link>
    </div>
  </div>
</template>

<script>
import BaseCard from "@/shared/ui/components/Cards/BaseCard.vue";
import KButton from "@/shared/ui/components/Button/Button.vue";
import TextTitle from "@/shared/ui/components/Typography/TextTitle.vue";
import { mapState } from "vuex";

export default {
  components: {
    BaseCard,
    KButton,
    TextTitle,
  },
  data() {
    return {
      nameUser: ""
    };
  },
  computed: {
    ...mapState(["transaction"]),
    totalCost() {
      const cost = (
        Number(this.transaction.amountSentTotal) +
        Number(this.transaction.feeTotal)
      ).toFixed(2);
      return isNaN(cost) ? 0 : cost;
    },
  },
  mounted(){
    this.nameUser = this.$services.customer.getNameUser();
  },
  methods: {
    handleClick() {
      this.$router.push("/transactionProof");
    },
  },
};
</script>
