<template>
  <form
    class="bg-transparent grid grid-cols-1 text-xs pt-2 pb-4 ml-2 mr-4"
    @submit.prevent="handleSubmit"
  >
    <label class="py-3 font-semibold">
      <TextParagraph text="¿Desde qué banco nos envías tu dinero?" />
    </label>
    <Select v-model="bank" :options="banks" custom class="bg-white">
      <template #currentOption="actual">
        <div class="flex items-center font-medium">
          <img :src="actual.option.image" class="flex w-7 mx-2" />
          <TextParagraph :text="actual.option.aka" />
        </div>
      </template>
      <template #option="opcion">
        <div class="flex items-start">
          <img :src="opcion.option.image" class="flex w-7 mx-2" />
          <TextParagraph :text="opcion.option.name" />
        </div>
      </template>
    </Select>
    <label class="py-3 font-semibold">
      <TextParagraph text="Cuenta de beneficiario" />
    </label>
    <Select v-model="payee" :options="payees" custom class="bg-white">
      <template #currentOption="actual">
        <div class="flex mx-2">
          <TextParagraph
            :text="actual.option.nameUser"
            class="font-medium capitalize tracking-wide"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <TextParagraph
            :text="actual.option.name"
            class="text-xs font-light capitalize tracking-tighter"
          />
        </div>
      </template>
      <template #option="opcion">
        <div class="flex items-start text-justify w-7 mx-2">
          <TextParagraph
            :text="opcion.option.nameUser"
            class="font-medium capitalize tracking-wide"
          />
          &nbsp;&nbsp;&nbsp;&nbsp;
          <TextParagraph
            :text="opcion.option.name"
            class="text-xs font-light capitalize tracking-tighter"
          />
        </div>
      </template>
    </Select>
    <label class="py-3 font-semibold"
      ><TextParagraph text="Origen de fondos" />
    </label>
    <Select v-model="source" :options="sources" custom class="bg-white">
      <template #currentOption="actual">
        <div class="flex mx-2">
          <TextParagraph :text="actual.option.name" class="font-medium" />
        </div>
      </template>
      <template #option="opcion">
        <div class="flex items-start">
          <TextParagraph :text="opcion.option.name" />
        </div>
      </template>
    </Select>
    <KButton
      text="CONTINUAR"
      size="lg"
      :disabled="disabled"
      class="w-full mt-8"
    />
  </form>
</template>
<script>
import TextParagraph from "~/shared/ui/components/Typography/TextParagraph.vue";
import Select from "~/shared/ui/components/Select.vue";
import KButton from "@/shared/ui/components/Button/Button.vue";

export default {
  components: {
    Select,
    TextParagraph,
    KButton,
  },
  data() {
    return {
      bank: "",
      banks: [
        {
          value: "BCP",
          name: "BCP- Banco de Crédito del Perú",
          image: "",
          aka: "Banco de Crédito",
        },
        {
          value: "IBK",
          name: "Banco Internacional del Perú",
          image: "",
          aka: "INTERBANK",
        },
        { value: "BBVA", name: "BBVA - Continental", image: "", aka: "BBVA" },
        { value: "SCOTIA", name: "Scotiabank", image: "", aka: "Scotiabank" },
      ],
      payee: "",
      payees: [],
      source: "",
      sources: [
        { value: "ahorros", name: "Ahorros" },
        { value: "alquiler", name: "Alquiler de bienes" },
        { value: "venta", name: "Venta de bienes" },
        { value: "trabajo", name: "Ingresos por trabajo" },
        { value: "otros", name: "Otros" },
      ],
    };
  },
  computed: {
    disabled() {
      return this.bank === "" || this.payee === "" || this.source === "";
    },
  },
  async mounted() {
    const datos = await this.$services.utils.findUtils();
    this.banks[0].image = datos.data.originBanks[0].image;
    this.banks[1].image = datos.data.originBanks[1].image;
    this.banks[2].image = datos.data.originBanks[2].image;
    this.banks[3].image = datos.data.originBanks[3].image;
    const accounts = await this.$services.accounts.searchAccount();
    this.payees = accounts.data.map((account) => {
      if (account.type === "OWN") {
        return {
          value: account,
          name: account.number,
          nameUser: "Tu misma cuenta",
        };
      }
      return {
        value: account,
        name: account.number,
        nameUser: account.thirdPartyInfo.fullName,
      };
    });
  },
  methods: {
    handleSubmit() {
      const dataForm = {
        bankId: this.bank,
        account: this.payee,
        sourceOfFounds: this.source,
        ...this.$store.state.transaction,
      };
      this.$store.dispatch("completeTransaction", dataForm);
      this.$router.push("/verifica");
    },
  },
};
</script>