<template>
  <div class="flex-1 text-kambista-blue ml-2 my-6 md:hidden">
    <TextSubtitle text="Tranferencias al exterior" />
  </div>
</template>

<script>
import TextSubtitle from '~/shared/ui/components/Typography/TextSubtitle.vue';
export default {
  components: { TextSubtitle}
};
</script>

<style>
</style>