<template>
  <div class="flex-1 text-kambista-blue ml-8 my-6 hidden lg:block text-xs">
    <BaseText weight="bold">
     Tiempo estimado de transferencia: {{ Math.round(days) }}
     <span v-if="Math.round(days) === 1"> día </span>
     <span v-else> días </span>
    </BaseText>
  </div>
</template>

<script>
import BaseText from '~/shared/ui/components/Typography/BaseText.vue';
export default {
  components: {
    BaseText
  },
  data() {
    return {
      days: 3,
    }
  },
  async mounted(){
    const response =  await this.$services.market.findMarket();
    console.log(response)
    const min = 150000 / 60;
    const hours = min / 60;
    this.days = hours / 24;
  },
};
</script>

<style>
</style>