<template>
  <div class="flex flex-col sm:mt-6">
    <SidebarItem
      text="Transferencias al extranjero"
      icon="exchange"
      to="/"
      @onPressed="$emit('onPressed')"
    />
    <SidebarItem
      text="Historial de operaciones"
      icon="historial"
      disabled
      @onPressed="$emit('onPressed')"
    />
    <SidebarItem
      text="Cuentas bancarias"
      icon="bank"
      to="/cuentas"
      @onPressed="$emit('onPressed')"
    />
    <SidebarItem
      text="Recomienda y gana"
      icon="win"
      disabled
      @onPressed="$emit('onPressed')"
    />
    <SidebarItem
      text="Beneficios"
      icon="benefits"
      disabled
      @onPressed="$emit('onPressed')"
    />
    <slot name="banners"></slot>
    <SidebarItem
      class="border-t md:border-0 mt-5 pt-5 sm:mt-0 sm:pt-3"
      text="Ayuda"
      icon="help"
      disabled
      @onPressed="$emit('onPressed')"
    />
    <SidebarItem
      class="flex"
      text="Cerrar sesión"
      icon="logout"
      @click.native="handleLogout"
    />
  </div>
</template>

<script>
import SidebarItem from "../../components/SidebarItem/SidebarItem.vue";

export default {
  components: { SidebarItem },
  methods: {
    handleLogout(){
      this.$store.dispatch('logout');
    }
  }
}
</script>