<template>
  <div class="bg-white min-h-screen flex flex-col">
    <AppBar />
    <div class="px-6 pt-12 pb-20 flex-1 flex items-center justify-center">
      <div class="m-auto w-full max-w-xl flex flex-col space-y-6 text-center">
        <h1 class="text-xl sm:text-2xl lg:text-3xl font-bold mb-3">
          ¿Te perdiste?
        </h1>
        <img src="~/assets/images/error/chanchito_404.svg" alt="chanchito_404" />
        <div class="sm:text-base text-gray-700">
          <p class="intro-y mb-2 md:text-lg font-semibold">
            Parece que la página que buscas no existe o se ha movido
          </p>
          <p class="intro-y">
            Regresa al camino del ahorro
          </p>
        </div>
        <KButton
          text="aquí"
          size="lg"
          class="w-full sm:w-48 mt-5 mx-auto"
          @click.native="goToKambista"
        />
      </div>
    </div>
  </div>
</template>
<script>
import KButton from "@/shared/ui/components/Button/Button";
import AppBar from "~/shared/ui/components/Layouts/AppBar.vue";
export default {
  name: "NuxtError",
  components: {
    KButton,
    AppBar
  },
  props: {
    errorValue: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  methods: {
    goToKambista() {
      window.location.href = "https://kambista.com";
    }
  }
};
</script>
