<template>
  <DashboardLayout title="Beneficios">
  </DashboardLayout>
</template>

<script>
import DashboardLayout from "~/layouts/DashboardLayout/DashboardLayout.vue";

export default {
  components: {
    DashboardLayout,
  },
};
</script>