<template>
  <div>
  {{ transaction }}
  <button @click="handleSubmit"> ENVIAR </button>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['transaction']) 
  },
  methods: {
    handleSubmit() {
      this.$store.dispatch("completeTransaction", Object.assign(this.transaction, {cuenta: 'datos'}));
    },
  }

}
</script>

<style>

</style>