<template>
  <div>
    <MenuNavigation />
    <Main/>
  </div>
</template>

<script>
import Main from "~/modules/transaction/components/Main.vue";
import MenuNavigation from "../modules/menubar/MenuNavigation.vue"

export default {
  components: {
    Main,
    MenuNavigation,
  },
};
</script>