<template>
  <DashboardLayout title="Cuentas">
    <Main/>
  </DashboardLayout>
</template>

<script>
import DashboardLayout from "~/layouts/DashboardLayout/DashboardLayout.vue";
import Main from "@/modules/accounts/Main.vue"

export default {
  components: {
    DashboardLayout,
    Main,
  },
};
</script>

