<template>
  <BeneficiaryForm v-model="showModal"/>
</template>

<script>
import BeneficiaryForm from "@/modules/accounts/sections/BeneficiaryForm.vue";

export default {
  components: {
    BeneficiaryForm,
  },
  data(){
    return {
      showModal: true,
    }
  }
};
</script>