<template>
  <div>
    <Topbar variant="light" show-logo></Topbar>
  </div>
</template>

<script>
import Topbar from '~/shared/ui/components/Layouts/Dashboard/Topbar.vue'
export default {
  components: { Topbar },
}
</script>