<template>
  <DashboardLayout title="Transferencias">
    <CalculatorTitle/>
    <Main/>
  </DashboardLayout>
</template>

<script>
import DashboardLayout from "~/layouts/DashboardLayout/DashboardLayout.vue";
import CalculatorTitle from '~/modules/calculator/components/CalculatorTitle.vue';
import Main from "@/modules/calculator/Main.vue";

export default {
  components: {
    DashboardLayout,
    CalculatorTitle,
    Main,
  },
  async mounted() {
    await this.$services.accounts.searchAccount();
  }
};
</script>
