<template>
  <div>
    <MenuNavigation :step="3"/>
    <TransactionProof class="intro-y"/>
  </div>
</template>

<script>
import TransactionProof from '~/modules/transaction/components/TransactionProof.vue';
import MenuNavigation from '../modules/menubar/MenuNavigation.vue'


export default {
  components: {
    TransactionProof,
    MenuNavigation
  },
};
</script>