<template>
  <div>
    <MenuNavigation :step="2"/>
    <Verifica class="intro-y" />
  </div>
</template>

<script>
import Verifica from "../modules/transaction/components/Verifica.vue";
import MenuNavigation from "../modules/menubar/MenuNavigation.vue"

export default {
  components: {
    Verifica,
    MenuNavigation
  },
}
</script>