<template>
  <client-only>
    <MountingPortal mount-to="body" append>
      <transition
        name="drawer-transition"
        @enter="handleEnter"
        @before-leave="handleLeave"
      >
        <div v-if="open" class="bg-black bg-opacity-70 min-h-screen w-full fixed top-0 left-0 z-50 overflow-y-auto">
          <transition name="drawer-content-transition" appear>
            <div v-if="showContent">
              <slot></slot>
            </div>
          </transition>
        </div>
      </transition>
    </MountingPortal>
  </client-only>
</template>

<script>
import { MountingPortal } from "portal-vue";

export default {
  components: {
    MountingPortal,
  },
  model: {
    prop: "open",
    event: "input",
  },
  props: {
    open: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showContent: this.open,
    };
  },
  methods: {
    handleCloseModal() {
      this.$emit("input", false);
    },
    handleEnter() {
      this.showContent = true;
    },
    handleLeave() {
      this.showContent = false;
    },
  },
  head() {
    return {
      bodyAttrs: {
        class: this.open ? "overflow-y-hidden" : "",
      },
    };
  },
};
</script>

<style lang="scss" scoped>
.drawer-transition {
  &-enter-active,
  &-leave-active {
    transition: 0.3s;
  }
  &-enter,
  &-leave-to {
    opacity: 0;
  }
}

.drawer-content-transition {
  &-enter-active,
  &-leave-active {
    transition: 0.2s;
  }
  &-enter,
  &-leave-to {
    transform: translateY(20px);
    @media (max-width: 600px) {
      transform: translateY(100%);
    }
  }
}
</style>
