<template>
  <div class="w-96 flex items-center justify-between">
    <div class="flex items-center text-black-500 relative">
      <div
        class="
          rounded-full
          transitionPruebabar
          duration-500
          ease-in-out
          h-4
          w-4
          border-2 border-kambista-blue
          bg-kambista-blue
        "
      >
      </div>
      <div
        class="
          absolute
          top-0
          -ml-14
          text-center
          mt-6
          w-32
          text-xs
          font-medium
          text-kambista-blue
        "
      >
        Completa
      </div>
    </div>
    <div
      class="
        flex-auto
        border-t-2
        transition
        duration-500
        ease-in-out
      "
      :class="step> 1 ? 'border-kambista-blue': 'border-kambista-5'"
    ></div>
    <div
    class="flex items-center text-white relative"
    >
      <div
        class="
          rounded-full
          transition
          duration-500
          ease-in-out
          h-4
          w-4
        "
        :class="step> 1 ? 'border-2 border-kambista-blue bg-kambista-blue': 'border-kambista-5 bg-kambista-5'"
      >
      </div>
      <div
        class="
          absolute
          top-0
          -ml-14
          text-center
          mt-6
          w-32
          text-xs
          font-medium
          text-kambista-blue
        "
      >
        Verifica
      </div>
    </div>
    <div
      class="
        flex-auto
        border-t-2
        transition
        duration-500
        ease-in-out
      "
      :class="step> 2 ? 'border-kambista-blue': 'border-kambista-5'"
    ></div>
    <div class="flex items-center text-gray-500 relative border-blue-300">
      <div
        class="
          rounded-full
          transition
          duration-500
          ease-in-out
          h-4
          w-4
          border-2 border-kambista-5
        "
        :class="step> 2 ? 'border-2 border-kambista-blue bg-kambista-blue': 'border-kambista-5 bg-kambista-5'"
      >
      </div>
      <div
        class="
          absolute
          top-0
          -ml-14
          text-center
          mt-6
          w-32
          text-xs
          font-medium
          text-kambista-blue
        "
      >
        Constancia
      </div>
    </div>
  </div>
</template>

<script>

export default ({
  props: {
    step: {
      type: Number,
      default: 1
    }
  },
})
</script>
