<template>
  <thead class="h-12">
    <tr class="w-full">
      <TableHeaderCol
        v-for="tableHeader in headers"
        :key="tableHeader"
        :text="tableHeader"
      />
    </tr>
  </thead>
</template>

<script>
import TableHeaderCol from "../components/TableHeaderCol.vue";

export default {
  components: {
    TableHeaderCol,
  },
  props: {
    headers: {
      type: Array,
      default() {
        return [];
      },
    },
  },
};
</script>