<template>
  <tr class="bg-white min-h-16">
    <td class="px-6 py-2">{{ (account.type === 'OWN' ? currentUser : account.thirdPartyInfo.fullName) }}</td>
    <td class="px-6 py-2">{{ account.bank }}</td>
    <td class="px-6 py-2">{{ account.number }}</td>
    <td class="px-6 py-2">{{ account.currency }}</td>
    <td class="px-6 py-2">{{ account.alias }}</td>
    <td class="px-6 py-2">
      <EditIcon class="cursor-pointer" @click="editaccount(account)"/>
    </td>
    <td class="px-6 py-2">
      <TrashIcon class="cursor-pointer" @click="deleteaccount(account.id)"/>
    </td>
  </tr>
</template>

<script>
import Cookies from 'js-cookie'
import TrashIcon from 'vue-material-design-icons/TrashCanOutline.vue';
import EditIcon from 'vue-material-design-icons/SquareEditOutline.vue';

export default {
  components: {
    TrashIcon,
    EditIcon,
  },
  props: {
    account: {
      type: Object,
      default() {
        return {}
      }
    },
    deleteaccount: {
      type: Function,
      default() {
        return () => {}
      }
    },
    editaccount: {
      type: Function,
      default() {
        return () => {}
      }
    }
  },
  data() {
    return {
      currentUser: ""
    }
  },
  mounted() {
    this.currentUser = JSON.parse(Cookies.get("authUser")).name;
  },
};
</script>
