<template>
  <th class="px-6 py-3 text-kambista-secondary-4">
    <KBaseText weight="medium" variant="inherit"> {{ text }} </KBaseText>
  </th>
</template>

<script>
import KBaseText from "@/shared/ui/components/Typography/BaseText.vue";

export default {
  components: {
    KBaseText,
  },
  props: {
    text: {
      type: String,
      default: ""
    }
  }
}
</script>
