<template>
  <LoadingScreen
  v-if="loading"
  class="min-h-screen"
  />
  <div v-else>
    <div class="bg-kambista-blue rounded-lg mx-auto mt-10">
        <h1 class=" flex justify-center rounded-lg font-bold text-sm text-white py-2 mt-3">
          1 EUR =  {{ changeValueCoins }} {{ countryCoin }}
        </h1>
    </div>
    <form @submit.prevent="handleSubmit">
    <div class="flex-1 bg-white rounded-lg py-3 mx-auto my-3">
      <div class="flex flex-wrap m-4 rounded-lg h-2/5 md:mx-10">
        <div class="bg-kambista-8 w-7/12 p-2 rounded-l-lg">
          <span
            class="font-semibold text-black pl-2 text-xs"
          >Envías
          </span>
          <input
            v-model="amountSent"
            class="flex font-semibold bg-kambista-8 pl-4 text-xl w-full leading-tight focus:outline-none overflow:hidden"
            type="number"
            step="0.01"
          > 
        </div>
        <KSelect
          v-model="countryCoin"
          :options="countries"
          custom
          class="flex justify-center bg-kambista-blue text-white w-5/12 rounded-lg"
          @change="handleCoin()"
        >
          <template #currentOption="actual" class="text-white bg-kambista-blue" >
            <div class="flex items-start place-content-center">
                <img :src="actual.option.image" md:width="70" width="25" class="md:py-auto" />
                <p class="md:text-lg text-white mx-0 pl-1 md:pl-2 font-bold text-sm pt-auto">{{actual.option.coin}}</p>
            </div>
          </template>
          <template #option="opcion">
            <div class="grid grid-cols-2 place-content-center">
            <img :src="opcion.option.image" md:width="30"  width="20" class=" md:pb-0 " />
            <p class=" text-black pl-1 mx-0 font-bold text-xs">{{opcion.option.coin}}</p>
            </div>
          </template>
        </KSelect>
      </div>
      <div class="flex flex-wrap m-4 rounded-lg h-2/5 md:mx-10">
        <div class="bg-kambista-8  w-7/12 p-2 rounded-l-lg ">
          <span
            class="font-semibold text-black pl-2 text-xs"
          >Recibe
          </span>
          <input
            id="amount-two"
            :value="amountReceive"
            type="number"
            placeholder="0"
            class="font-semibold text-black placeholder-kambista-secondary-3 bg-kambista-8 pl-4 text-xl w-full"
            disabled
          >
        </div>
        <KSelect
            v-model="countryDes"
            :options="destinies"
            custom
            class="flex bg-kambista-blue rounded-lg w-5/12 justify-center rounded-sm border"
            >
              <template #currentOption="second" class="text-white bg-kambista-blue">
                <div class="flex items-start text-white place-content-center">
                <img :src="second.option.image" md:width=70 width="25" class="md:py-auto"/>
                  <p class="md:text-lg text-white pl-1 mx-0 font-bold text-base pt-auto">{{second.option.coin}}</p>
                </div>
              </template>
        </KSelect>
      </div>
    </div>
    <div class="flex-1 bg-white rounded-lg p-4 mt-4 mb-8 mx-auto text-sm md:px-8" >
        <div class="flex" >
          <p class="w-1/2">
            Envías
          </p>
          <p class="flex justify-end w-1/2">
            {{ Number(amountSent).toFixed(2) }} <span class="pl-1"> {{ countryCoin }} </span>
          </p>
        </div>
        <div class="flex">
          <p class="w-1/2">
            Comisión
          </p>
          <p class="flex justify-end w-1/2">
            {{ feeTotal.toFixed(2) }}
            <span class="pl-1"> {{ countryCoin }} </span>
          </p>
        </div>
        <hr class="my-3">
        <div class="font-bold flex">
          <p class="w-1/2">
            Total a transferir
          </p>
          <p class="flex justify-end w-1/2">
            {{ (amountSentTotal + feeTotal).toFixed(2) }} <span class="pl-1"> {{ countryCoin }} </span>
          </p>
        </div>
        <div class="font-bold flex">
          <p class="w-1/2">
            Recibe
          </p>
          <p class="flex justify-end w-1/2">
            {{ amountReceive }} <span class="pl-1"> EUR </span>
          </p>
        </div>
      </div>
      <div
        v-if="accounts.length === 0"
        class="flex bg-blue-100 rounded-lg mb-2 mx-auto md:mx-8">
        <Highlight
        closeable
        class="md:px-2 text-sm" >
            Para hacer una transferencia al extranjero debes agregar tu cuenta de destino.
            <span
            class="underline cursor-pointer"
            @click="openModal"
            >
              Agregar cuenta ahora
            </span>
        </Highlight>
      </div>
      <div class="md:mx-8">
        <Button
        size="lg"
        text="INICIAR OPERACIÓN"
        block class="font-bold mt-4"
        :loading= "loadingBtn"
        />
      </div>
    </form>
    <CreateAccountForm />
  </div>
</template>

<script>
import KSelect from '~/shared/ui/components/Select.vue';
import Highlight from '~/shared/ui/components/Highlight.vue';
import Button from "@/shared/ui/components/Button/Button.vue";
import CreateAccountForm from "@/modules/accounts/sections/CreateAccountForm.vue"
import LoadingScreen from '~/shared/ui/components/Loading/LoadingScreen.vue';

export default {
  components: {
    KSelect,
    Highlight,
    Button,
    CreateAccountForm,
    LoadingScreen
  },
  data() {
    return {
      coinElection:1,
      amountSent: 1000,
      fee: "",
      countryCoin: "PEN",
      countries: [
      { value : "PEN", coin: "PEN",image:"" },
      { value : "USD", coin: "USD", image: "" },
      ],
      countryDes: "EUR",
      destinies: [
      { value : "EUR", coin: "EUR", image: "" },
      ],
      percentFee: 5,
      dataMarket: null,
      valueCoins: [],
      accounts: [],
      loading: true,
      loadingBtn: null,
    };
  },
  computed: {
    changeValueCoins() {
      const valueCoinSelected = this.valueCoins.find(ítem => ítem.currency === this.countryCoin)
      if(valueCoinSelected) {
        return valueCoinSelected.price.toFixed(4)
      }
      return 1
    },
    feeTotal() {
      const valueCoinSelected = this.valueCoins.find(ítem => ítem.currency === this.countryCoin)
      if(valueCoinSelected) {
        return ( this.amountSent * ( this.percentFee/100 ) )??0.00;
      }
      return 0
    },
    amountSentTotal() {
      return Number(this.amountSent)
    },
    amountReceive() {
      const resultado = (this.amountSentTotal / this.changeValueCoins ).toFixed(2)
      return isNaN(resultado)? 0 : resultado;
    }
  },
  async mounted(){
    try {
      this.loading = true;

      const response =  await this.$services.market.findMarket();
      this.percentFee = response.data[0].fee;
      this.valueCoins = response.data[0].bid;

      const dataUtilities = await this.$services.utils.findUtils();
      this.countries[0].image = dataUtilities.data.currencies[0].image;
      this.countries[1].image = dataUtilities.data.currencies[1].image;
      this.destinies[0].image = dataUtilities.data.currencies[2].image;

      const responseAccounts = await this.$services.accounts.searchAccount();
      this.accounts = responseAccounts.data;

    } catch(error) {
      console.log(error);
    }
    finally {
      this.loading = false;
    }

  },
  methods:{

    async handleSubmit() {
      try {
        this.loadingBtn = "Cargando..."
        const dataForm = {
        originCurrency: this.countryCoin,
        amountSent: Number(this.amountSent).toFixed(2),
        amountSentTotal: this.amountSentTotal.toFixed(2),
        feeTotal: this.feeTotal.toFixed(2),
        amountReceive: Number(this.amountReceive).toFixed(2),
        valueCoinSelected: this.changeValueCoins,
        destinationCurrency: this.countryDes,
        }
        await new Promise(r => setTimeout(r,3000))
        this.$store.dispatch("completeTransaction", dataForm);
        this.$router.push('/completa')
      } catch(error) {
        this.loadingBtn = null;
        console.error(error)
      }
      // finally {
      //   this.loadingBtn = null;
      // }

    },
    openModal() {
      this.$store.dispatch('setShowModalCreateAccount') 
    }
  }
}

</script>

<style>
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>
