<template>
  <UserDropdownItem :text="nameUser" icon="company" />
</template>

<script>
import UserDropdownItem from '../UserDropdownItem/UserDropdownItem.vue'
export default {
  components: { UserDropdownItem },
  data() {
    return {
      nameUser: "",
    }
  },
  mounted() {
    this.nameUser = this.$services.customer.getNameUser();
  }
}
</script>